<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.saucedemo.TestPack.TC03_VerifyBagProductAddToCartFunctionality"/>
      <class name="com.saucedemo.TestPack.TC04_VerfiyAllProductsAddToCartFunctionality"/>
      <class name="com.saucedemo.TestPack.TC02_VerifyLogOutFunctionality"/>
      <class name="com.saucedemo.TestPack.TC01_VerfiyLoginFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
